/* LineChart.css */

.home-reports {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-reports h3 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}

.reports-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reports-toggle button {
  background-color: #f0f0f0; /* Light gray for deactivated state */
  border: 1px solid #ddd; /* Light border for button definition */
  color: #888; /* Gray text color for deactivated state */
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
}

.reports-toggle button.active,
.reports-toggle button:hover {
  background-color: #0056b3; /* Darker blue for active and hover state */
  color: white; /* White text color for active and hover state */
}

.reports-chart {
  display: flex;
  justify-content: center;
}

.reports-chart > div {
  width: 100%;
  max-width: 800px;
  height: 400px;
}
