body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.home-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-summary {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.summary-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
}

.summary-card h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #555;
}

.summary-card p {
  font-size: 1.5rem;
  margin: 10px 0;
}

.positive-change {
  color: green;
}

.negative-change {
  color: red;
}

.home-reports {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.reports-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.reports-toggle button {
  padding: 10px 20px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.reports-toggle button.active,
.reports-toggle button:hover {
  background-color: #007bff;
  color: #ffffff;
}

.reports-chart {
  width: 100%;
  height: 400px; /* Set a fixed height for the chart container */
  text-align: center;
}

.reports-chart canvas {
  width: 100% !important;
  height: 100% !important;
}

.home-expenses {
  display: flex;
  gap: 20px;
}

.expenses-card,
.transactions-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.expenses-info div {
  margin-bottom: 10px;
}

.expenses-chart,
.reports-chart {
  max-height: 300px;
}

.transactions-card .view-all {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
}

.transactions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.transaction-item span {
  flex: 1;
}

.transaction-item.positive span:last-child {
  color: green;
}

.transaction-item.negative span:last-child {
  color: red;
}
